/* Add CSS styling here */

* {
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    overflow-x: hidden;
  }


html {
    font-size: 62.5%;
}

.home {

}

.links {
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

nav div a {
    padding: 1% 3%;
}



div h1 {
    margin-left: 1%;
    padding: 2%;
}

.biggerpic {
    height: 90%;
    width: 90%;
    display: inline-block;
}

.words {
    display: inline-block;
    width: 20%;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2%;
    height: 500px;
}

.littlepics {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;
    align-items: s;
}

.littlepics img {
    height: 10%;
    width: 22%;
    padding: 2%;
}

.ending {
    padding: 1%;
    text-align: center;
}

footer div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.ending div h2 {
    padding: 3%;
}

.ending div div a {
    padding: 2%;
}

@media(max-width:800px) {
    .links {
        justify-content: center;
        }
    h1 {
        text-align: center;
    }
    .biggerpic {
        height: 100%;
    width: 100%;
    }
    .words {
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: center;
     }
}
@media(max-width:500px) {
    .container {
        flex-direction: column;
    } 
    .words {
        display: flex;
        margin-top: 20%;
        background-color: crimson;
    }
    .links {
        background-color: chartreuse;
        }
        h1 {
            background-color: coral;
        }
        .littlepics {
            background-color: darkgray;
        }
        .ending {
            background-color: darkslateblue;
        }
    }
}
